<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/BootstrapCss")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/BootstrapJs")
        @{/*Scripts.Render("~/bundles/jquery")*/}
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/SteamHatch")
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">SteamHatch Studios</a>
                    <ul class="nav pull-right">
                        <li>@Html.ActionLink("Apps & Games", "Index", "Projects")</li>
                        <li>@Html.ActionLink("About Us", "Index", "About")</li>
                        <li>@Html.ActionLink("Contact Us", "Index", "Contact")</li>
                    </ul>
                </div>
            </div>
            <section id="MainContent">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div">@Html.ActionLink("Apps & Games", "Index", "Projects")  |  @Html.ActionLink("About Us", "Index", "About")  |  @Html.ActionLink("Contact Us", "Index", "Contact")</div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
