<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/BootstrapCss")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/BootstrapJs")
        @{/*Scripts.Render("~/bundles/jquery")*/}
        @Scripts.Render("~/bundles/jqueryui")
    </head>
    <body>
        <header>
        </header>
        <div id="container">
            <div class="nav">
                <div class="navbar-inner">
                    <a class="brand" href="#">SteamHatch Studios</a>
                    <ul class="nav">
                        <li><a href="#">Apps & Games</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <section id="MainContent">
                @RenderBody()
            </section>
        </div>
        <footer>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
